<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        [formControl]="newTaskCtrl"
        (keydown.enter)="ChangeHandler()"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <section class="main">
      <ul class="todo-list">
        <li
          (dblclick)="UpdateTaskEditingMode(i)"
          *ngFor="let task of tasksByFilter(); index as i"
          [class.editing]="task.editing"
          [class.completed]="task.completed"
        >
          <div class="view">
            <input
              (change)="UpdateTask(i)"
              class="toggle"
              type="checkbox"
              [checked]="task.completed"
            />
            <label>{{ task.title }}</label>
            <button class="destroy" (click)="DeleteTask(i)"></button>
          </div>
          <input
            class="edit"
            (keydown.enter)="UpdateTaskText(i, $event)"
            [value]="task.title"
          />
        </li>
      </ul>
    </section>
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>0</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a (click)="changeFilter('all')" class="selected">All</a>
        </li>
        <li>
          <a (click)="changeFilter('pending')">Pending</a>
        </li>
        <li>
          <a (click)="changeFilter('completed')">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>
